<!-- views/datasources.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./head %>
		<title>
			<%= title %>
		</title>
</head>

<body class="container">
	<header>
		<% include ./header %>
	</header>
	<main>

		<span> --- </span>

		<div>
			<table class="table table-hover usertable">
				<tr>
					<th>index</th>
					<th>item</th>
				</tr>
				<%for(var i=0; i<items.length; i=i+1){%>
					<tr>
						<td>
							<%=i%>
						</td>
						<td>
							<%=items[i]%>
						</td>
					</tr>
					<%}%>

			</table>
		</div>

		<div>
			<table class="table table-hover usertable">
				<tr>
					<th>desc</th>
					<th>valye</th>
				</tr>
				<%for(var i=0; i<items.length; i=i+1){%>
					<span> --- </span>
					<form action="/users/login" method="POST">
						<input type="text" name="username" placeholder=<%=i%> required>
						<input type="text" name="password" placeholder=<%=items[i]%> required>
						<input type="submit" value="Submit" />
					</form>
					<span> --- </span>
					<%}%>

			</table>
		</div>

		<h2>Node JS Submit Form with Express Js - RemoteStack.io</h2>
		<form id="deviceform" action="/" method="POST">
			<div class="form-group mb-3">
				<label>First name</label>
				<input type="text" class="form-control" placeholder="First name" id="name" name="name" required
					minlength="4" maxlength="8" size="10">
			</div>
			<div class="form-group mb-3">
				<label>Last name</label>
				<input type="text" class="form-control" placeholder="Last name" name="lastName">
			</div>
			<div class="form-group mb-3">
				<label>Email</label>
				<input type="email" class="form-control" placeholder="Email" name="email">
			</div>
			<div class="d-grid mt-3">
				<button type="submit" class="btn btn-danger">Submit</button>
			</div>
		</form>
		<ul>
			<&percnt; characters.forEach(function(character) { &percnt;>
				<li class="ui segment">
					<strong>
						<&percnt;= character.name &percnt;>
					</strong>
					is <&percnt;= character.designation &percnt;> at hogwarts.
				</li>
				<&percnt; }); &percnt;>
		</ul>
		<span style="font-size:18px;"> $.ajax({
			type: "POST",
			url:"/",
			data:$('#deviceform').serialize(),
			async: false,
			error: function(request) {
			alert("Connection error");
			},
			success: function(data) {
			//接收后台返回的结果
			}
			});</span>

		<span> --- </span>

		<h1>
			add <%=items.length %>
		</h1>
	</main>
	<footer>
		<% include ./footer %>
	</footer>
</body>

</html>