<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./head %>
        <title>Project Summary <%= title %>
        </title>
</head>

<body class="container">
    <header>
        <% include ./header %>
    </header>
    <main>
        <span> --- </span>
        <div>
            <table class="table table-hover usertable">
                <tr>
                    <th>Index</th>
                    <th>url</th>
                    <th>model</th>
                    <th>protocol</th>
                    <th>createdAt</th>
                    <th>createdBy</th>
                    <th>isDisabled</th>
                </tr>
                <% let index=0 %>
                    <% rows.forEach(function(row){ %>
                        <tr>
                            <td>
                                <%= ++index %>
                            </td>
                            <td>
                                <%= row.url %>
                            </td>
                            <!-- first column = datapoint's Id like ".TariffActiveExport01", with certain meanings-->
                            <td>
                                <%= row.model %>
                            </td> <!-- second column = datapoint's value-->
                            <td>
                                <%= row.protocol %>
                            </td> <!-- second column = datapoint's value-->
                            <td>
                                <%= row.createdAt %>
                            </td> <!-- second column = datapoint's value///.toISOString() -->
                            <td>
                                <%= row.createdBy %>
                            </td> <!-- third column = datapoint's timestamp or "-"-->
                            <td>
                                <%= row.isDisabled %>
                            </td> <!-- third column = datapoint's quality code or "-"-->
                        </tr>
                        <% }) %>
            </table>
        </div>
        <span> --- </span>
        <h1>
            <%= rows.length %> \Instances of List
        </h1>
        <div>
            <%for(var uui=0; uui < models.length; ++uui){%>
                <li>
                    [<%=uui%>] - <%=(models[uui])%>
                </li>
                <%}%>
        </div>
        <span> --- </span>
        <div>
            <%for(var uui=0; uui < protocols.length; ++uui){%>
                <li>
                    [<%=uui%>] - <%=(protocols[uui])%>
                </li>
                <%}%>
        </div>
        <span> --- </span>
    </main>
    <footer>
        <% include ./footer %>
    </footer>
</body>

</html>