<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./head %>
    <title><%= title %></title>
</head>

<body class="container">
    <header>
        <% include ./header %>
    </header>
    <main>
        
        <span> --- </span>
        <div>
            <table class="table table-hover usertable">
                <tr>
                    <th>Index</th>
                    <th>AssetURL</th>
                    <th>Protocol</th>
                    <th>Model</th>
                    <th>Status</th>
                    <th>SampleTime</th>
                </tr>
                <%for(var i=0; i<items.length; i= i+1){%>
                <tr>
                    <td><%= i %></td>
                    <td><%= items[i].endpointURL %></td> <!-- first column = datapoint's Id like ".TariffActiveExport01", with certain meanings-->
                    <td><%= items[i].protocol %></td> <!-- second column = datapoint's value--> 
                    <td><%= items[i].model %></td> <!-- second column = datapoint's value--> 
                    <td><%= items[i].status %></td> <!-- second column = datapoint's value--> 
                    <td><%= items[i].sampledAt %></td> <!-- third column = datapoint's timestamp or "-"-->
                </tr>
                <%}%>
            </table>
        </div>
        <span> --- </span>
        
        <h1>
            Array of List <%= items.length %>
        </h1>
    </main>

    <footer>
        <% include ./footer %>
    </footer>
</body>
</html>
