<!-- views/commission.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="container">
    <h1> Commissioning Remote Station/Protocol </h1>
    <span> --- </span>
    <br />
    <%= modelSelected %>
        <br />
        <%- protocolSelected %>

            <main>
                <span> --- </span>
                <div>
                    <%for(var uui=0; uui < samples.length; ++uui){%>
                        <li>
                            [<%=uui%>] - <%=(samples[uui])%>
                        </li>
                        <%}%>
                </div>
                <span> --- </span>
                <div>
                    <form action="/station/commission" method="POST">
                        <span>
                            model <input type="hidden" name="model" value=<%=modelSelected %> />
                        </span>
                        <span>
                            protocol <input type="hidden" name="protocol" value=<%=protocolSelected %> />
                        </span>
                        <span>
                            stationURL <input type="text" name="stationurl" minlength="12" maxlength="158"
                                value="modbus.tcp://192.168.235.172:503/126/" />
                        </span>
                        <span>
                            token <input type="password" name="token" />
                        </span>
                        <span>
                            <input type="submit" value="Submit" />
                        </span>
                    </form>
                </div>
                <span> --- </span>
            </main>
            <footer>
                <% include ./partials/footer %>
            </footer>
</body>

</html>