<!-- views/model.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
        <title>
            <%= title %>
        </title>
</head>

<body class="container">
    <main>
        <span> --- </span><br />
        <div>
            <table class="table table-hover usertable">
                <tr>
                    <th>Dictionary Key</th>
                    <th>Value</th>
                </tr>
                <%for(var item of items){%>
                    <tr>
                        <td>
                            <%=item[0].toUpperCase()%>
                        </td>
                        <td>
                            -<%=item[1].length%>
                        </td>
                    </tr>
                    <%for(var uui=0; uui < item[1].length; ++uui){%>
                        <tr>
                            <td>
                                [<%=uui%>]
                            </td>
                            <td>
                                <%=JSON.stringify(item[1][uui])%>
                            </td>
                        </tr>
                        <%}%>
                            <%}%>
            </table>
        </div>
        <span> --- </span>
        <h1>
            Total: <%=items.size%>
        </h1>
    </main>
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>

</html>